body{
    background-image: url(/img/bg.jpg);
}

.container {
    letter-spacing: 10px;
    position: relative; left: 10cm; top: 1cm;
}

.btn-outline-primary {
    letter-spacing: 1px;
}
.btn-outline-warning {
    letter-spacing: 1px;
}
.btn-outline-danger {
    letter-spacing: 1px;
}
